body {
    background-image: url("../images/neon.jpg");
}

#jumboheader{
    font-family: 'Monoton', cursive;
    color: aqua;
    font-size: 45px;
    text-align: center;
    }

#jumbo{
    background: none;
}

.container{
    background: none;
    margin-bottom: 20px;
    width: 100%;
}

#card1 {
    /* border:none; */
    margin-left: 300px;
    margin-right: 300px;
    background: black;
          
}

#card2 {
    margin-top: 20px;
    margin-left: 300px;
    height: 600px;
    background: black;
    border-style: dashed !important;
    border-color: pink; 
    border-width: 10px;
}

#card3 {
    margin-top: 20px;
    margin-right: 300px;
    height: 600px;
    background: black;
    border-style: dashed !important;
    border-color: pink; 
    border-width: 10px;
}

.card-text{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: pink;
}

#guess_word{
    margin-top:50px;
    margin-bottom:50px;
}

#current {
    text-align: center !important;
}

img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

#letters_used {
    margin-top:20px
}

#guess{
    margin-bottom: 50px;
}